$title: hsl(233, 26%, 24%);
$hover: hsl(234, 32%, 30%);
$gradient: linear-gradient(80deg, rgb(49, 211, 92), rgb(43, 183, 218));
$cayn: hsl(192, 70%, 51%);
$text: hsl(233, 8%, 62%);
$bg-2: hsl(220, 16%, 96%);
$header: hsl(0, 0%, 98%);
$link: hsl(0, 0%, 100%);
