// @media (max-width: 1200px) {
//   html,
//   body {
//     overflow-x: hidden;
//   }
//   .container {
//     max-width: 970px;
//   }
//   .navbar {
//     max-width: 100%;
//     .navbar-wrapp {
//       .logo img {
//         width: 150px;
//       }
//     }
//   }

// .main {
//   .img-main {
//     width: 556px;
//   }
//   .img-1 {
//     width: 760px;
//   }
//   .main-wrapper {
//     h1 {
//       font-size: 2.9rem;
//     }
//     p {
//       font-size: 1rem;
//       line-height: 1.2rem;
//     }
//   }
// }
// .secondscreen {
// margin-top: 120px;

//     .secondscreen-wrapper {
//       padding: 96px 0;
//       .subtitle {
//         width: 520px;
//         margin: 0 auto;
//         .subtitle-title {
//           text-align: center;
//           font-size: 2.6rem;
//         }
//         p {
//           margin: 1.4rem auto 3.2rem;
//           text-align: center;
//           font-size: 1rem;
//           line-height: 1.2rem;
//         }
//       }
//       .wrapper-block {
//         flex-direction: column;

//         .block-item {
//           text-align: center;
//           margin: 0 15px;
//           padding: 35px 0;
//           margin-bottom: 2.2rem;
//           width: 320px;
//           background-color: #fff;
//           box-shadow: 0 5px 10px 2px rgb(0 0 0 / 10%);
//           img {
//             width: 70px;
//           }
//           .block-title {
//             font-size: 1.4rem;
//             margin-top: 1.8rem;
//           }
//           p {
//             margin: 20px auto;
//             font-size: 1rem;
//             width: 300px;
//           }
//         }
//       }
//     }
//   }
//   .thirdscreen {
//     padding: 90px 0;
//     background-color: $header;
//     .thirdscreen-title {
//       margin-bottom: 60px;
//       text-align: center;
//       font-size: 2.6rem;
//     }
//     .thirdscreen-wrapper {
//       align-items: center;
//       flex-direction: column;
//       .thirdscreen-item {
//         text-align: center;
//         margin-bottom: 30px;

//         .item-description {
//           padding: 20px;

//           .subtitle-by {
//             font-size: 0.8rem;
//           }
//           .item-title {
//             font-size: 1.2rem;
//             margin-top: 20px;
//           }
//           p {
//             font-size: 1rem;
//             line-height: 1.1rem;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 992px) {
//   .container {
//     max-width: 750px;
//   }
//   .navbar {
//     .navbar-wrapp {
//       .logo img {
//         width: 150px;
//       }
//       .menu {
//         width: 320px;
//         a {
//           font-size: 0.9rem;
//         }
//       }
//     }
//     .btn-invite {
//       padding: 11px 20px;
//       font-size: 0.8rem;
//     }
//   }

//   .main {
//     .img-main {
//       width: 450px;
//     }
//     .img-1 {
//       width: 520px;
//     }
//     .main-wrapper {
//       h1 {
//         font-size: 2rem;
//       }
//       p {
//         font-size: 0.9rem;
//         line-height: 1.2rem;
//       }
//     }
//     .btn-invite {
//       padding: 11px 20px;
//       font-size: 0.8rem;
//     }
//   }
//   .secondscreen {
//     margin-top: 120px;

//     .secondscreen-wrapper {
//       padding: 96px 0;
//       .subtitle {
//         width: 520px;
//         margin: 0 auto;
//         .subtitle-title {
//           text-align: center;
//           font-size: 2rem;
//         }
//         p {
//           width: 360px;
//           margin: 1.4rem auto 3.2rem;
//           text-align: center;
//           font-size: 0.9rem;
//           line-height: 1.2rem;
//         }
//       }
//       .wrapper-block {
//         .block-item {
//           text-align: center;
//           margin: 0 15px;
//           padding: 33px 0;
//           margin-bottom: 2rem;
//           width: 300;

//           img {
//             width: 55px;
//           }
//           .block-title {
//             font-size: 1.2rem;
//             margin-top: 1.8rem;
//           }
//           p {
//             font-size: 0.9rem;
//             line-height: 1.2rem;
//             width: 250px;
//           }
//         }
//       }
//     }
//   }
//   .thirdscreen {
//     padding: 90px 0;

//     .thirdscreen-title {
//       margin-bottom: 50px;
//       text-align: center;
//       font-size: 2rem;
//     }
//     .thirdscreen-wrapper {
//       .thirdscreen-item {
//         width: 300px;
//         text-align: center;
//         margin-bottom: 25px;

//         .item-description {
//           padding: 20px;

//           .subtitle-by {
//             font-size: 0.8rem;
//           }
//           .item-title {
//             font-size: 1.1rem;
//             margin-top: 20px;
//           }
//           p {
//             font-size: 0.9rem;
//             line-height: 1.1rem;
//           }
//         }
//       }
//     }
//   }
//   footer {
//     padding: 30px 0;
//   }
//   .logo-footer img {
//     width: 120px;
//   }
//   .social-wrapper img {
//     width: 15px;
//   }
//   .footer-list a {
//     font-size: 0.9rem;
//   }
//   .btn-invite {
//     padding: 11px 20px;
//     font-size: 0.8rem;
//   }
//   .footer-copyright {
//     font-size: 0.8rem;
//   }
// }

// @media (max-width: 767px) {
//   .container {
//     max-width: 550px;
//     position: relative;
//   }

//   .navbar {
//     .navbar-wrapp {
//       .logo img {
//         width: 120px;
//       }
//       .menu {
//         width: 300px;
//         a {
//           font-size: 0.9rem;
//         }
//         a::after {
//           bottom: -27px;
//         }
//       }
//     }
//     .btn-invite {
//       display: none;
//     }
//   }

//   .main {
//     .img-main {
//       width: 390px;
//     }
//     .img-1 {
//       width: 560px;
//     }
//     .main-wrapper {
//       h1 {
//         font-size: 1.9rem;
//       }
//       p {
//         font-size: 0.9rem;
//         line-height: 1.2rem;
//       }
//     }
//     .btn-invite {
//       padding: 11px 20px;
//       font-size: 0.8rem;
//     }
//   }

//   .secondscreen {
//     .secondscreen-wrapper {
//       .subtitle {
//         .subtitle-title {
//           font-size: 2rem;
//         }
//       }
//     }
//   }
//   .thirdscreen {
//     .thirdscreen-title {
//       font-size: 1.9rem;
//     }
//   }
//   footer {
//     padding: 28px 0;
//   }
//   .logo-footer img {
//     width: 110px;
//   }
//   .social-wrapper img {
//     width: 13px;
//   }
//   .footer-list a {
//     font-size: 0.8rem;
//   }
//   .footer-item:last-child {
//     margin: 20px auto 0;
//   }

//   .btn-invite {
//     padding: 11px 20px;
//     font-size: 0.8rem;
//     margin-bottom: 15px;
//   }
//   .footer-copyright {
//     font-size: 0.8rem;
//   }
// }

@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }

  .navbar {
    .navbar-wrapp {
      .logo img {
        width: 120px;
      }
    }

    .navbar-wrapp .menu a {
      display: none;
    }

    .btn-invite {
      display: none;
    }
    .humburger {
      display: block;
      position: absolute;
      right: 10%;
      top: 38%;
      transform: translateY(-50%);
      width: 26px;
      height: 12px;
      z-index: 11;

      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $title;
        margin-bottom: 5px;
        transition: 0.5s all;
      }
    }
    .humburger.active span:nth-child(2) {
      opacity: 0;
    }

    .humburger.active span:nth-child(1) {
      transform: translateY(9px) rotate(-45deg);
    }
    .humburger.active span:nth-child(3) {
      transform: translateY(-5px) rotate(45deg);
    }
  }
  .popup {
    z-index: 100;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 465px;
    background-color: $header;
    box-shadow: -1px 17px 9px -6px rgba(34, 60, 80, 0.18);
    display: flex;
    transition: 0.5s;
  }
  .popup.open {
    left: 0;
  }

  .popup .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0 auto;
    a {
      color: $text;
      margin: 20px;
    }
    a:hover {
      color: $title;
    }
  }
  .main {
    margin: 150px 0 65px 0;

    .img-1 {
      display: none;
    }
    .img-2 {
      display: none;
    }
    .main-wrapper {
      align-items: center;
      width: 300px;
      h1 {
        font-size: 2.5rem;
      }
      .main-description {
        width: 280px;
      }
    }
  }
  .subtitle-title {
    text-align: center;
  }
  .wrapper-block {
    text-align: center;
  }

  .logo-footer img {
    width: 120px;
    margin-bottom: 20px;
  }
  .social-wrapper img {
    width: 20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;

    .footer-item {
      flex-direction: row;
      align-items: center;
      justify-items: center;
      margin-bottom: 20px;
    }

    .btn-invite {
      margin-bottom: 20px;
    }
    .footer-copyright {
      text-align: center;
    }
  }
}
