@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Public+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  margin: 2.2rem 0;
  font-size: 1.1rem;
  color: hsl(233deg, 8%, 62%);
  line-height: 1.5rem;
  font-weight: 300;
}

.navbar {
  background-color: hsl(0deg, 0%, 98%);
  position: fixed;
  width: 100%;
  padding: 25px 0;
  z-index: 4;
}
.navbar .navbar-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.navbar .navbar-wrapp .logo img {
  width: 180px;
}
.navbar .navbar-wrapp .menu {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
.navbar .navbar-wrapp .menu a {
  position: relative;
  color: hsl(233deg, 8%, 62%);
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.navbar .navbar-wrapp .menu a:active {
  color: hsl(233deg, 26%, 24%);
}
.navbar .navbar-wrapp .menu a::after {
  position: absolute;
  bottom: -38px;
  left: 0;
  content: "";
  height: 3px;
  width: 0;
  border-bottom: 3px solid rgb(49, 211, 92);
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-wrapp .menu a:hover::after {
  width: 104%;
}

.btn-invite {
  border: none;
  background-image: linear-gradient(80deg, rgb(49, 211, 92), rgb(43, 183, 218));
  width: 220px;
  padding: 14px 25px;
  border-radius: 1.8rem;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  transition: all 0.8s ease-in;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.btn-invite:hover {
  opacity: 0.5;
}

.main {
  padding: 175px 0 115px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}
.main .img-1 {
  position: absolute;
  width: 750px;
  top: 25px;
  right: 0;
  z-index: 3;
}
.main .img-2 {
  position: absolute;
  width: 970px;
  top: -55px;
  right: -10%;
  z-index: -2;
}
.main .main-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}
.main .main-wrapper h1 {
  font-weight: 700;
  color: hsl(233deg, 26%, 24%);
  font-size: 5.2rem;
}
.main .main-wrapper .main-description {
  width: 70%;
}
.main .main-wrapper .btn-invite {
  width: 300px;
  padding: 18px 30px;
  font-size: 1.1rem;
}

.secondscreen {
  background-color: hsl(220deg, 16%, 96%);
}
.secondscreen .secondscreen-wrapper {
  padding: 116px 0;
}
.secondscreen .secondscreen-wrapper .subtitle .subtitle-title {
  font-weight: 400;
  font-size: 2.5rem;
  color: hsl(233deg, 26%, 24%);
}
.secondscreen .secondscreen-wrapper .subtitle .subtitle-description {
  margin-bottom: 6.5rem;
}
.secondscreen .secondscreen-wrapper .wrapper-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.secondscreen .secondscreen-wrapper .wrapper-block .block-item {
  margin: 0 15px;
  margin-top: 1.8rem;
  margin: 0 15px;
  width: 300px;
}
.secondscreen .secondscreen-wrapper .wrapper-block .block-item .block-title {
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  font-size: 1.5rem;
  margin-top: 1.8rem;
}

.thirdscreen {
  padding: 120px 0;
  background-color: hsl(0deg, 0%, 98%);
}
.thirdscreen .thirdscreen-title {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 2.5rem;
  color: hsl(233deg, 26%, 24%);
}
.thirdscreen .thirdscreen-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.thirdscreen .thirdscreen-wrapper .thirdscreen-item {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: hsl(220deg, 16%, 96%);
  width: 320px;
  margin: 0 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.thirdscreen .thirdscreen-wrapper .thirdscreen-item .item-img img {
  width: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
}
.thirdscreen .thirdscreen-wrapper .thirdscreen-item .item-description {
  padding: 20px;
}
.thirdscreen .thirdscreen-wrapper .thirdscreen-item .item-description .subtitle-by {
  font-size: 0.8rem;
  color: hsl(233deg, 8%, 62%);
  font-weight: 300;
}
.thirdscreen .thirdscreen-wrapper .thirdscreen-item .item-description .item-title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.thirdscreen .thirdscreen-wrapper .thirdscreen-item .item-description .item-title:hover {
  color: rgb(49, 211, 92);
}

footer {
  background-color: hsl(233deg, 26%, 24%);
  padding: 60px 0;
}
footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-wrapper .footer-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}
footer .footer-wrapper .footer-item .social-wrapper a {
  margin-right: 10px;
}
footer .footer-wrapper .footer-item .social-wrapper a .social-wrapper img:hover {
  color: rgb(49, 211, 92);
}
footer .footer-wrapper .footer-list {
  display: flex;
}
footer .footer-wrapper .footer-list li {
  cursor: pointer;
  margin-top: 15px;
}
footer .footer-wrapper .footer-list li a {
  color: #fff;
  transition: all 0.25s ease-in;
}
footer .footer-wrapper .footer-list li a:hover {
  color: rgb(49, 211, 92);
}
footer .footer-wrapper .footer-list li li:last-child {
  margin-bottom: 0;
}
footer .footer-wrapper .footer-list .list-item:first-child {
  margin-right: 45px;
}
footer .footer-wrapper .footer-copyright {
  color: hsl(233deg, 8%, 62%);
}

@media (max-width: 1000px) {
  .container {
    max-width: 80%;
  }

  .navbar .navbar-wrapp .logo img {
    width: 150px;
  }
  .navbar .navbar-wrapp .menu a {
    display: none;
  }
  .navbar .btn-invite {
    display: none;
  }
  .navbar .humburger {
    display: block;
    position: absolute;
    right: 10%;
    top: 38%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    z-index: 11;
  }
  .navbar .humburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: hsl(233deg, 26%, 24%);
    margin-bottom: 5px;
    transition: 0.5s all;
  }
  .navbar .humburger.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar .humburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .navbar .humburger.active span:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
  }

  .popup {
    z-index: 100;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 465px;
    background-color: hsl(0deg, 0%, 98%);
    box-shadow: -1px 17px 9px -6px rgba(34, 60, 80, 0.18);
    display: flex;
    transition: 0.5s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0 auto;
  }
  .popup .menu a {
    color: hsl(233deg, 8%, 62%);
    margin: 20px;
  }
  .popup .menu a:hover {
    color: hsl(233deg, 26%, 24%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .main {
    padding: 26% 0 15%;
  }
  .main .img-1 {
    display: none;
  }
  .main .img-2 {
    display: none;
  }
  .main .main-wrapper {
    width: 100%;
  }
  .main .main-wrapper h1 {
    font-size: 3.5rem;
  }
  .subtitle {
    text-align: center;
  }

  .subtitle-title {
    text-align: center;
    width: 100%;
  }

  .wrapper-block {
    text-align: center;
  }

  .logo-footer img {
    width: 120px;
    margin-bottom: 20px;
  }

  .social-wrapper img {
    width: 20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper .footer-item {
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
  }
  .footer-wrapper .btn-invite {
    margin-bottom: 20px;
  }
  .footer-wrapper .footer-copyright {
    text-align: center;
  }
}
#pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgb(49, 211, 92), rgb(43, 183, 218));
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  cursor: pointer;
}
#pageup span {
  width: 30px;
  top: 10px;
  color: #fff;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.form-up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease-in-out;
  animation: modal 0.8s ease;
}
.form-up .form-up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.form-up .form-up_container .form-up_body {
  margin: auto;
  width: 500px;
  padding: 100px 15px 110px 15px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.form-up .form-up_container .form-up_body form input {
  display: block;
  width: 330px;
  padding: 17px 20px;
  margin: 25px auto 0 auto;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  border: none;
  color: hsl(233deg, 26%, 24%);
  outline: none;
  font-size: 18px;
}
.form-up .form-up_container .form-up_body form button {
  border: none;
  background-image: linear-gradient(80deg, rgb(49, 211, 92), rgb(43, 183, 218));
  width: 330px;
  padding: 16px 75px;
  margin: 60px auto 0 auto;
  border-radius: 1.8rem;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  transition: all 0.3 ease-in;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.form-up .form-up_container .form-up_body form button:hover {
  opacity: 0.5;
}
.form-up .form-up_container .form-up_body .form-up_close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: hsl(233deg, 8%, 62%);
  opacity: 0.5;
}
.form-up .form-up_container .form-up_body .form-up_close:hover {
  opacity: 1;
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes formAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.form-up.active {
  display: block;
}

/*# sourceMappingURL=main.css.map */
